body{
    background:#9eabff;
}

#grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    position:fixed;
    left:50vw;
    top:50vh;
    transform: translate(-50%,-50%);
    height:90vh;
    width:90vw;
    margin:0;
    align-items: baseline;
}

.fluid{
    width:25%;
    height:15%;
    margin:1%;
    background: linear-gradient(0deg, hsl(46, 100%, 60%) 0%, rgba(255,255,255,1) 100%);
    animation: hop 200ms infinite;
}

.bubble{
    position:fixed;
    border-radius:50%;
    animation: fizz 1s infinite;
}

.lager{
    -webkit-mask-image: url(stein.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 97.5%;
    mask-image: url(stein.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 97.5%;
}

.ipa{
    -webkit-mask-image: url(beercan.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 80%;
    mask-image: url(beercan.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.witbier{
    -webkit-mask-image: url(pilsner.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(pilsner.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.belgian{
    -webkit-mask-image: url(chalice.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(chalice.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.spicedAle{
    -webkit-mask-image: url(pintglass.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(pintglass.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.shandy{
    -webkit-mask-image: url(bottle.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(bottle.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.stout{
    -webkit-mask-image: url(guinness.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(guinness.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.porter{
    -webkit-mask-image: url(snifter.png);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(snifter.png);
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

@keyframes hop{
    0%{
        transform: translateY(0vh);
    }
    50%{
        transform: translateY(2vh);
    }
    100%{
        transform: translateY(0vh);
    }
}

@keyframes fizz{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}